<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container" id="topNav">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Overview</a>
    <a class="c-navigation__item {% if page.url == '/schedule' %}is-active{% endif %}" href="{{ "/schedule" | prepend: site.baseurl }}">Schedule</a>
    <a class="c-navigation__item {% if page.url == '/hw/' %}is-active{% endif %}" href="{{ "/hw/" | prepend: site.baseurl }}">Homework</a>
    <a class="c-navigation__item {% if page.url == '/exams/' %}is-active{% endif %}" href="{{ "/exams/" | prepend: site.baseurl }}">Exams</a>
    <!--    <a class="c-navigation__item {% if page.url == '/pltl' %}is-active{% endif %}" href="{{ "/pltl" | prepend: site.baseurl }}">Peer Workshops</a> -->
    <a class="c-navigation__item {% if page.url == '/tools' %}is-active{% endif %}" href="{{ "/tools" | prepend: site.baseurl }}">Tools</a>
  </div>
  <a class="c-navigation__bars" href="javascript:void(0);" class="icon" onclick="nav()"><i class="fa fa-bars"></i></a>
</nav>

<script>
function nav() {
  var x = document.getElementById("topNav");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
